<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.flickit.org/dsl/editor/AssessmentKitDsl"
			class = "org.flickit.dsl.editor.assessmentKitDsl.AssessmentKitDslPackage"
			genModel = "model/generated/AssessmentKitDsl.genmodel" />
	</extension>
</plugin>
